@import "sidebar.css";
@import "prihlasovanie-registracia.css";
@import "menu.css";
@import "footer.css";
@import "index.css";




.produkt-row {
    display: flex;
    padding: 5% 0;
    padding-bottom: 5%;
}

.produkt-photo {
    padding: 0% 2% 0% 10%;
    order: 1;
    width: 40%;
}

.produkt-description {
    padding: 0% 2% 4% 2%;
    order: 2;
    flex: 1;
    /* Take up remaining space */
    margin: 0;
    width: auto;
    text-align: left;
}

.produkt-h1-nazov {
    margin: 0;
    padding: 0;

}

.produkt-price {
    margin: 0;
    padding: 0;

    font-size: 35px;
    font-weight: bold;

}

.produkt-kategotia_p {
    font-size: 18px;


}

.produkt-typ_p {
    font-size: 18px;

}

.produkt-card-img {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.velkost {
    font-style: none;
    text-decoration-line: underline;
    font-family: Lucida, Georgia, serif;
    color: #8f7261;
}

.velkost:hover {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}

.produkt-pridat-btn {
    border-style: none;

}


.produkt-pridat-btn {
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 1% 5%;
    font-size: 25px;
    color: #ffffff;
    font-family: Lucida, Georgia, serif;
    font-weight: lighter;
    background-color: #483c35;
}


.produkt-pridat-btn:hover {
    background-color: #8f7261;
}


.produkt-hr {
    margin: 2% 0 2% 0;
}

br {
    margin: 20px 0;
}



input {
    font-family: Lucida, Georgia, serif;
    padding: 3px;
    margin: 0;
    margin-right: 1em;
    padding-left: 10px;
    font-size: 14px;
    color: #310e09;
    outline: none;
}


.select_velkost {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: 1.5px;
    width: 28%;
    height: 25px;
}

.select_velkost select {
    display: none;

}


